{% extends "main/base.html" %}
{% load static %}

{% block content %}
<h1 class="hero-title">РЕДАКТИРОВАНИЕ ПРОФИЛЯ</h1>

<form method="POST" action="{% url 'userprofile:update' %}">
    {% csrf_token %}
    
    <div class="login-form">
        <!-- Остальные поля формы -->
        
        <div class="form-group">
            <label for="doc_number">Серия и номер документа</label>
            <input type="text" id="doc_number" name="doc_number" class="form-input" 
                value="{% if profile.doc_series %}{{ profile.doc_series }} {{ profile.doc_number }}{% endif %}">
        </div>
    </div>
    
    <div class="hero-buttons">
        <button type="submit" class="hero-button-one">Сохранить</button>
        <a href="{% url 'userprofile:index' %}" class="hero-button-two">Отмена</a>
    </div>
</form>
{% endblock %}