{% extends "main/base.html" %}
{% load static %}

{% block content %}
        <h1 class="hero-title">
            ВХОД
        </h1>
        <!-- Форма входа -->
        <div class="login-form">
            <div class="form-group">
                <label for="username">Имя пользователя</label>
                <input type="text" id="username" name="username" class="form-input">
            </div>
            
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" class="form-input">
            </div>
        </div>
        <div class="hero-inner">
            <div class="hero-buttons">
                <a class="hero-button-one" href="{% url "userprofile:index" %}">Войти</a>
                <a class="hero-button-two" href="{% url "accounts:registr" %}">Зарегистрироваться</a>
            </div>
{% endblock %}