{% extends "main/base.html" %}

{% block content %}
<div class="container">
    <h2>Мои заявления</h2>
    
    {% if applications %}
        <table class="simple-table">
            <thead>
                <tr>
                    <th>Факультет</th>
                    <th>Направление</th>
                    <th>Дата подачи</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                {% for app in applications %}
                <tr>
                    <td>{{ app.direction.faculty.short_name }}</td>
                    <td>{{ app.direction.code }} - {{ app.direction.name }}</td>
                    <td>{{ app.created_at|date:"d.m.Y" }}</td>
                    <td>{{ app.get_status_display }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>У вас нет поданных заявлений</p>
        <a href="{% url 'statements:addStatements' %}" class="btn">Подать заявление</a>
    {% endif %}
</div>


{% endblock %}