<!DOCTYPE html>
{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    {% comment %} <link href="{% static 'css/reset.css' %}" rel="stylesheet"> {% endcomment %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header-inner">
          <nav class="header-nav"> 
            <ul class="header-list">
              <li class="header-item">
                <a href="{% url "main:index" %}">Главная</a>
              </li>
              <li class="header-item">
                <a href="{%url "userprofile:index" %}">Личный кабинет</a>
              </li>
              <li class="header-item">
                <a href="{%url "statements:index" %}">Мои Заявления</a>
              </li>
            </ul>
          </nav>
          <a class="header-button" href="{% url "accounts:login" %}">Войти</a>
        </div>
      </div>
    </header>

    <!-- Основное содержимое -->
    <main>
      <section class="hero">
        <div class="container">
          {% block content %}

          {% endblock %}
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner">
          <div class="footer-desc">
            <p>Приемная кампания 2025</p>
          </div>
          <div class="footer-col footer-col-margin">
            <h4 class="footer-title">Об ИГХТУ</h4>
            <ul class="footer-list">
              <li class="footer-item">
                <a class="footer-link" href="{% url "main:about"%}">Миссия ИГХТУ</a>
              </li>
              <li class="footer-item">
                <a class="footer-link" href="#">История</a>
              </li>
              <li class="footer-item">
                <a class="footer-link" href="#">Рейтинг в ИГХТУ</a>
              </li>
              <li class="footer-item">
                <a class="footer-link" href="#">Контакты</a>
              </li>
            </ul>
          </div>
          <div class="footer-col">
            <h4 class="footer-title">Учеба</h4>
            <ul class="footer-list">
              <li class="footer-item">
                <a class="footer-link" href="#">Факультеты и кафедры</a>
              </li>
              <li class="footer-item">
                <a class="footer-link" href="#">Расписание занятий</a>
              </li>
              <li class="footer-item">
                <a class="footer-link" href="#">Довузовское обучение</a>
              </li>
              <li class="footer-item">
                <a class="footer-link" href="#">Учебные материалы</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
